@media (min-width: 767px) and (max-width: 900px) {
    .left-section {
        height: auto;
    }

    .left-image{
       height: 12rem;
       
    }

   
  }


  @media (max-width: 767px){

      .smaller-screen{
    margin-top: 1rem;

      }

      .template{
        overflow: hidden;
      }

      .right-image{
        height: 12rem;
        right: 2px;
        
    }
  }